html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3 {
    font-weight: normal;
    line-height: 1.2;
    display: inline-block;
    margin: 1rem;
}
#map {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
#tool {
    position: absolute;
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    margin: 0;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.1em;
    background: rgba(46, 61, 73, 0.81);
    border-radius: 4px;
    padding: 15px;
    color: #acb1b6;
    top: 6rem;
    left: 0;
}
/*this is the search-filter box */

#search {
    margin: 0px;
    background-color: #1f747d;
    padding: 0 20px;
    width: 100%;
    font-size: 1.6em;
    font-weight: 400;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #272727;
}
/*this is the search-filter box when in focus*/

#search:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;
    /* Regular padding-left + 1. */
    
    width: 401px;
}
strong {
    margin: 0;
}
input[type="search"] {
    padding: 13px 10px;
    line-height: 20px;
    width: 100%;
    padding: 13px 10px;
    font-size: 1.6rem;
    margin-bottom: 10px;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    outline: none;
    background: #fff;
    color: #000;
    border: 1px solid #e6e7e9;
    font-weight: 200;
    min-height: 60px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin: 5px;
    font-weight: 700;
    padding: 0 5px;
}
input[type=checkbox],
input[type=radio] {
    margin: 4px 4px 0 !important;
}
ul li {
    list-style-type: none;
    color: #2aa4a5;
    font-size: 1.9rem;
    font-weight: 300;
    margin: 0;
}
ol,
ul {
    margin: 0;
    padding-left: 15px;
}
ul li span {
    color: #fff;
    font-weight: 400;
}
ul li:hover {
    background: rgba(23, 50, 78, .7);
    cursor: pointer;
}
.input-group-addon {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
}
/* style header */

.header {
    color: #fff;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0.5em 1em;
    background: black;
}